{{#each users}}
<h1>{{FirstName}} </h1>
<h4>{{Email}}</h4>
{{/each}}

<h1>{{FirstName}} {{LastName}}</h1>
<h4>{{Email}}</h4>
<br>
<script>
   
    function onDelete() {
        $.ajax({
            url: '/users/{{UserId}}/delete',
            method: 'DELETE', complete: () => window.location = "/users"
        })
    }
</script>


<div>
    <button onclick="onDelete()" id="deleteButton">Delete User</button>
</div>
<br>
<a href="/users">Return To Users</a>